
    <div class="nav">
            <nav>Home</nav>
            <nav>Technologies</nav>
    </div>
<!-- <div class="flex-container">
    <div >
        <nav>Home</nav>
        <nav>Technologies</nav>
        </div>
</div> -->

    <div class="flex-container fontstyles">
      <div class ="divscroll" style="flex-grow: 2">
            <div *ngFor="let item of list">
                Test {{item}}
            </div>
      </div>
      <div style="flex-grow: 8">
        
            <h1 >The flex-grow Property</h1>
            <p>Make the third flex item grow eight times faster than the other flex items:</p>
    
        </div>
    </div>
    